@use "global" as *;

.page-archive__content {
  margin-top: rem(60);
  @include mq("md") {
    margin-top: rem(84);
  }
}

.page-archive__inner {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
  }
}

.page-archive__main {
  @include mq("md") {
    flex: 0 1 auto;
    width: 100%;
  }
}

.page-archive__items {
  @include mq("md") {
    margin-top: rem(8);
  }
}

.page-archive__widget {
  margin-top: rem(180);
  @include mq("md") {
    margin-top: 0;
    flex: 0 0 rem(300);
    margin-left: rem(30);
  }
}

.page-archive__pagination {
  width: 100%;
  display: inline-block;
  text-align: center;
  margin-top: rem(60);
  @include mq("md") {
    margin-top: rem(100);
  }
}

.page-archive__footer-info {
  margin-top: rem(124);
  @include mq("md") {
    margin-top: rem(228);
  }
}
