@use "global" as *;

.page-contact__content {
  margin-top: rem(60);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.page-contact__inner.inner{
  @include mq('md') {
    max-width: rem(778);
  }
}

.page-contact__attention {
  font-size: rem(14);
  line-height: calc(24 / 14);
  color: $black;
}

.page-contact__attention span {
  color: $accent-color;
}

.page-contact__title {
  text-align: center;
  margin-top: rem(98);
  @include mq('md') {
    margin-top: rem(155);
  }
}


.page-contact__form {
  margin-top: rem(66);
  @include mq('md') {
    margin-top: rem(70);
  }
}

.page-contact__footer-info{
  margin-top: rem(128);
  @include mq('md') {
    margin-top: rem(180);
  }
}

.page-contact__success{
  margin-top: rem(60);
  @include mq('md') {
    margin-top: rem(83);
  }
}


.page-contact__success-inner.inner{
  max-width: rem(780);
  width: 100%;
}


.page-contact__success-text{
  font-size: rem(14);
  line-height: calc(24 / 14);
  color: $black;
}

.page-contact__success-text span{
  color: $accent-color;
}