@use "global" as *;

// .feature {
// margin-top: rem(100);
// }

.feature__container {
  @include mq("md") {
    display: flex;
    gap: rem(92);
  }
}

.feature__content {
  max-width: rem(600);
  width: 100%;
  margin: 0 auto;
  @include mq("md") {
    flex: 1;
    margin-top: rem(40);
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
  }
}

.feature__title {
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc(32 / 20);
  letter-spacing: 0.08em;
  color: $black;
  margin-top: rem(16);
  @include mq("md") {
    margin-top: rem(28);
    font-size: rem(28);
    line-height: calc(44 / 28);
  }
}

.feature__text {
  font-size: rem(14);
  line-height: calc(24 / 14);
  margin-top: rem(28);
  color: $black;
  font-weight: $normal;
  @include mq("md") {
    margin-top: rem(32);
  }
}

.feature__text p:last-child {
  margin-top: rem(26);
}

.feature__image {
  margin-top: rem(40);
  aspect-ratio: 334 / 230;
  @include mq("md") {
    margin-top: 0;
    margin-right: calc(50% - 50vw);
    flex: 1.58;
  }
}

.feature__image img {
  border-radius: rem(20) 0 0 rem(20);
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-right: calc(50% - 50vw);
  margin-left: auto;
  @include mq("md") {
    margin-left: 0;
  }
}
