@use "global" as *;

.page-about__title {
  text-align: center;
  margin-top: rem(65);
  @include mq("md") {
    margin-top: rem(85);
  }
}

.page-about__second-title {
  text-align: center;
  margin-top: rem(100);
  @include mq("md") {
    margin-top: rem(160);
  }
}

.page-about__picture {
  margin-top: rem(38);
  @include mq("md") {
    margin-top: rem(60);
  }
}

.page-about__picture-items {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: rem(11);
  max-width: rem(600);
  margin: 0 auto;
  @include mq("md") {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: rem(22);
    max-width: 100%;
  }
}

.page-about__picture-item {
  aspect-ratio: 162 / 162;
}

.page-about__picture-item img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: rem(20);
}

.page-about__footer-info {
  margin-top: rem(130);
  @include mq("md") {
    margin-top: rem(184);
  }
}
