@use "sass:math";

// インナー幅設定
// コンテンツのインナー幅（最も共通の幅が多い部分）
$inner: 1000px;
// ※キュンパス幅ではなくインナーの幅を指す

// 余白
$padding-pc: 25px;
$padding-sp: 20px;

////////////////////
// フォント設定
////////////////////

$base-font-family: "M PLUS Rounded 1c", sans-serif;
// ※検証ツールでしっかり反映されているか確認する

body {
  font-family: $base-font-family;
}

// フォントウェイト
$regular: 300;
$normal: 500;
$bold: 700;

////////////////////
// 色の指定
////////////////////

//色指定（共通性のあるものは出来る限り指定すると良い）
$black: #393939;
$white: #fff;
$main-color: #1391e6;
$dark-blue: #0060a0;
$light-blue: #dff1fd;
$accent-color:#EE5A6D;


////////////////////
// ハンバーガーメニュー展開時背景固定（スクロールさせない）
// ※jQuerynも記載
////////////////////
body.fixed {
  width: 100%;
  height: 100%;
  position: fixed;
  }