@use "global" as *;

.concept {
  position: relative;
  overflow: hidden;
}

.concept::after {
  position: absolute;
  content: "";
  background-image: url("../images/common/concept-bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  top: 30%;
  left: 28%;
  transform: scale(1.5);
  z-index: -10;
  width: 100%;
  height: rem(726);
  @include mq("md") {
    top: 8%;
    transform: scale(1.03);
    left: 34%;
    background-size: contain;
  }
}

.concept__container {
  @include mq("md") {
    display: flex;
    flex-direction: row-reverse;
    gap: rem(92);
  }
}

.concept__content {
  max-width: rem(600);
  width: 100%;
  margin: 0 auto;
  @include mq("md") {
    flex: 1;
    margin-top: rem(36);
    max-width: 100%;
  }
}

.concept__title {
  font-size: rem(20);
  font-weight: $bold;
  line-height: calc(32 / 20);
  letter-spacing: 0.08em;
  color: $black;
  margin-top: rem(16);
  @include mq("md") {
    margin-top: rem(28);
    font-size: rem(28);
    line-height: calc(44 / 28);
  }
}

.concept__text {
  font-size: rem(14);
  line-height: calc(24 / 14);
  margin-top: rem(32);
  color: $black;
  font-weight: $normal;
  @include mq("md") {
    margin-top: rem(32);
  }
}

.concept__btn {
  margin-top: rem(36);
  text-align: center;
  @include mq("md") {
    text-align: left;
    margin-top: rem(40);
  }
}

.concept__image {
  margin-top: rem(40);
  aspect-ratio: 334 / 230;
  @include mq("md") {
    margin-top: 0;
    margin-left: calc(50% - 50vw);
    flex: 1.58;
  }
}

.concept__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  margin-left: calc(50% - 50vw);
  @include mq("md") {
    margin-left: 0;
  }
}
