@use "global" as *;

.article__headline {
  font-size: rem(20);
  letter-spacing: 0.08em;
  line-height: calc(32 / 20);
  font-weight: $bold;
  color: $black;
  @include mq("md") {
    font-size: rem(28);
    line-height: calc(40 / 28);
  }
}

.article__info {
  display: flex;
  align-items: center;
  margin-top: rem(20);
}

.article__date {
  font-size: rem(16);
  line-height: 1;
  color: $main-color;
  padding-left: rem(20);
  position: relative;
}

.article__date::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: rem(14);
  height: rem(14);
  background-image: url("../images/common/icon_pen.svg");
  background-size: contain;
  background-repeat: no-repeat;
}

.article__category {
  font-size: rem(11);
  line-height: 1;
  color: $white;
  padding: rem(6) rem(12);
  background-color: $main-color;
  border-radius: rem(12);
  margin-left: rem(32);
  @include mq("md") {
    padding: rem(8) rem(12);
  }
}

.article__item {
  margin-top: rem(60);
}

.article__item p {
  font-size: rem(14);
  line-height: calc(24 / 14);
  color: $black;
  margin-top: rem(20);
}

.article__item > :first-child {
  margin-top: 0;
}

.article__item a {
  color: $main-color;
  text-decoration: underline;
}

.article__item h2.wp-block-heading {
  font-size: rem(18);
  letter-spacing: 0.08em;
  line-height: calc(32 / 18);
  font-weight: $bold;
  padding-left: rem(22);
  color: $main-color;
  position: relative;
  margin-top: rem(62);
  @include mq("md") {
    font-size: rem(24);
    margin-top: rem(66);
    padding-left: rem(28);
  }
}

.article__item h2.wp-block-heading::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: rem(6);
  height: rem(40);
  background-color: $main-color;
  @include mq("md") {
    width: rem(8);
    height: rem(52);
  }
}

.article__item .wp-block-image {
  margin-top: rem(20);
  aspect-ratio: 335 / 209;
}

.article__item .wp-block-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: inline-block;
}

.article__item h3 {
  font-size: rem(16);
  letter-spacing: 0.08em;
  line-height: calc(32 / 16);
  font-weight: $bold;
  color: $main-color;
  margin-top: rem(35);
  border-bottom: 1px solid $main-color;
  @include mq("md") {
    font-size: rem(20);
    margin-top: rem(33);
  }
}

.article__item h3 + p {
  margin-top: rem(18);
  @include mq("md") {
    margin-top: rem(14);
  }
}

.article__item h4 {
  font-size: rem(14);
  letter-spacing: 0.08em;
  line-height: calc(32 / 14);
  font-weight: $bold;
  color: $main-color;
  margin-top: rem(50);
  margin-bottom: 0;
  @include mq("md") {
    font-size: rem(16);
  }
}

.article__item h4 + p {
  margin-top: rem(8);
}

.article__item ul {
  margin-top: rem(11);
  margin-left: rem(14);
}

.article__item li {
  font-size: rem(16);
  line-height: calc(30 / 16);
  color: $black;
}

.article__item li:not(:first-child) {
  margin-top: rem(4);
}

.article__pagination {
  height: rem(76);
}

.article__page-link {
  margin-top: rem(38);
  @include mq("md") {
    margin-top: rem(98);
  }
}
