@use "global" as *;

.page-blog__content {
  margin-top: rem(58);
  @include mq("md") {
    margin-top: rem(80);
  }
}

.page-blog__inner {
  @include mq("md") {
    display: flex;
    justify-content: space-between;
  }
}

.page-blog__main {
  @include mq("md") {
    flex: 0 1 auto;
  }
}

.page-blog__widget {
  margin-top: rem(100);
  @include mq("md") {
    margin-top: 0;
    flex: 0 0 rem(300);
    margin-left: rem(30);
  }
}

.page-blog__footer-info {
  margin-top: rem(150);
  @include mq("md") {
    margin-top: rem(220);
  }
}
