@use 'global' as *;

.breadcrumb{
  margin-top: rem(13);

  @include mq('md') {
    margin-top: rem(17);
    width: 100vw;
    margin-left: calc(50% - 50vw);
    margin-right: calc(50% - 50vw);
    padding: 0 rem(90);
  }
}

.breadcrumb__text{
  font-size: rem(12);
  letter-spacing: -0.03em;
  color: $black;
}

.breadcrumb__text span{
  padding-right: rem(4);
}

.breadcrumb__text span:not(:first-child){
 padding-left: rem(6);
  letter-spacing: 0.03em;
}

.breadcrumb__text span:first-child span{
  color: #C2C2C2;

}
