@use "global" as *;

.header {
  position: fixed;
  height: rem(60);
  background-color: $white;
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.1);
  width: 100%;
  transition: all 0.3s;
  z-index: 10000;

  @media screen and (min-width: 1200px) {
    height: rem(80);
  }
}

.header.is-active {
  box-shadow: none;
}

.header__inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
}

.header__inner.inner {
  @media screen and (min-width: 1200px) {
    max-width: rem(1280);
    width: 100%;
    padding: 0 rem(40);
  }
}

.header__logo {
  z-index: 100;
  height: inherit;
}

.header__logo a {
  display: block;
  height: inherit;
}

.header__logoLink {
  width: rem(270);
  aspect-ratio: 270 / 31;
}

.header__logoLink img {
  width: 100%;
  display: inline-block;
  height: inherit;
  object-fit: contain;
}

.header__container {
  display: none;
  @media screen and (min-width: 1200px) {
    display: flex;
    align-items: center;
    height: inherit;
  }
}

.header__drawer {
  @media screen and (min-width: 1200px) {
    display: none;
  }
}

.header__pc-nav {
  height: inherit;
}
