@use "global" as *;

.reservation-nav {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.8);
  padding: rem(7) 0;
  z-index: 10000;
  @include mq("md") {
    display: none;
  }
}

.reservation-nav__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: rem(12);
  max-width: rem(400);
  width: 100%;
  margin: 0 auto;
}

.reservation-nav__info {
  display: flex;
  align-items: center;
  white-space: nowrap;
}

.reservation-nav__tel-image {
  aspect-ratio: 18 / 18;
  width: rem(18);
}

.reservation-nav__tel-image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.reservation-nav__tel-number {
  font-size: rem(20);
  font-weight: $bold;
  color: $main-color;
}

.reservation-nav__opening-hours {
  font-size: clamp(5px, 2.5vw, 10px);
  color: $black;
  text-align: center;
}

.reservation-nav__btn {
  background-color: $main-color;
  border-radius: rem(8);
  display: flex;
  align-items: center;
  gap: rem(10);
  padding: rem(8) rem(16);
  flex: 1;
}

.reservation-nav__btn-image {
  aspect-ratio: 44 / 26;
}

.reservation-nav__btn-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.reservation-nav__text {
  color: $white;
  font-size: rem(16);
  line-height: 1;
  text-align: center;
  white-space: nowrap;
}
.reservation-nav__text span {
  font-size: rem(12);
}
