@use "global" as *;

.to-top {
  position: fixed;
  bottom: rem(100);
  right: rem(10);
  width: rem(52);
  height: rem(52);
  z-index: 1000;

  @include mq("md") {
    bottom: rem(40);
    right: rem(20);
  }
}

.to-top a {
  display: block;
  width: rem(52);
  height: rem(52);
  aspect-ratio: 1 / 1;

  @include mq("md") {
    bottom: rem(40);
    right: rem(20);
  }
}

.to-top a img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
