@use "global" as *;

.greeting__title {
  text-align: center;
}

.greeting__content {
  margin-top: rem(38);
  max-width: rem(600);
  width: 100%;
  margin: 0 auto;
  @include mq("md") {
    margin-top: rem(60);
    display: flex;
    gap: rem(80);
    width: 100%;
    max-width: 100%;
  }
}

.greeting__heading {
  @include mq("md") {
    width: 50%;
  }
}

.greeting__comment {
  font-size: rem(20);
  letter-spacing: 0.08em;
  line-height: calc(32 / 20);
  font-weight: $bold;
  color: $black;
  @include mq("md") {
    font-size: rem(28);
    line-height: calc(44 / 28);
  }
}

.greeting__text {
  font-size: rem(14);
  line-height: calc(24 / 14);
  color: $black;
  margin-top: rem(27);
  @include mq("md") {
    margin-top: rem(35);
  }
}

.greeting__text span:not(:first-child) {
  display: inline-block;
  margin-top: rem(21);
}

.greeting__name {
  font-size: rem(14);
  line-height: calc(24 / 14);
  color: $black;
  margin-top: rem(38);
  text-align: right;
  @include mq("md") {
    margin-top: rem(20);
  }
}

.greeting__name span {
  display: inline-block;
  margin-left: rem(15);
}

.greeting__image {
  margin-top: rem(38);
  aspect-ratio: 335 / 446;
  @include mq("md") {
    margin-top: 0;
    aspect-ratio: 460 / 613;
    @include mq("md") {
      width: 50%;
    }
  }
}

.greeting__image img {
  display: inline-block;
  border-radius: rem(20);
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: top;
}

.greeting__resume {
  margin-top: rem(36);
  @include mq("md") {
    margin-top: rem(60);
  }
}

.greeting__career-title {
  font-size: rem(16);
  line-height: 1;
  color: $black;
  padding-bottom: rem(9);
  border-bottom: 1px solid $black;
}

.greeting__career-lists {
  margin-top: rem(16);
}

.greeting__career-list {
  font-size: rem(14);
  line-height: calc(24 / 14);
  color: $black;
  display: flex;
}

.greeting__career-list:not(:first-child) {
  margin-top: rem(11);
}

.greeting__career-date {
  flex: 0 0 rem(50);
}

.greeting__career-text {
  margin-left: rem(15);
  flex: 0 1 auto;
}

.greeting__license {
  margin-top: rem(40);
  @include mq("md") {
    margin-top: rem(30);
  }
}

.greeting__license-title {
  font-size: rem(16);
  line-height: 1;
  color: $black;
  padding-bottom: rem(9);
  border-bottom: 1px solid $black;
}

.greeting__license-lists {
  margin-top: rem(16);
}

.greeting__license-list {
  font-size: rem(14);
  line-height: calc(24 / 14);
  color: $black;
}

.greeting__license-list:not(:first-child) {
  margin-top: rem(11);
}
