@use "global" as *;

.introduction__title {
  text-align: center;
}

.introduction__job {
  max-width: rem(600);
  width: 100%;
  margin: 0 auto;
  margin-top: rem(36);
  @include mq("md") {
    max-width: 100%;
    margin-top: rem(56);
  }
}

.introduction__job-title {
  font-size: rem(16);
  letter-spacing: 0.08em;
  line-height: calc(32 / 16);
  font-weight: $bold;
  padding-bottom: rem(2);
  border-bottom: 1px solid $black;
  color: $black;
}

.introduction__cards {
  margin-top: rem(40);
  @include mq("md") {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: rem(60) rem(80);
  }
}

.introduction__card:not(:first-child) {
  margin-top: rem(53);
  @include mq("md") {
    margin-top: 0;
  }
}

.introduction__image {
  aspect-ratio: 1 / 1;
  @include mq("md") {
  }
}

.introduction__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: rem(20);
}

.introduction__head {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: rem(16);
}

.introduction__job-name {
  font-size: rem(12);
  line-height: calc(18 / 12);
  letter-spacing: 0.08em;
  color: $black;
}

.introduction__name {
  font-size: rem(18);
  line-height: calc(28 / 18);
  letter-spacing: 0.08em;
  font-weight: $bold;
  margin-left: rem(12);
  color: $black;
}

.introduction__profile {
  margin-top: rem(16);
}

.introduction__item {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
}

.introduction__item:not(:first-child) {
  border-top: 1px solid $white;
}

.introduction__left {
  font-size: rem(14);
  line-height: calc(24 / 14);
  color: $black;
  background-color: $light-blue;
  padding-top: rem(15);
  padding-bottom: rem(15);
  padding-left: rem(20);
  width: 50%;
}

.introduction__right {
  font-size: rem(14);
  line-height: calc(24 / 14);
  color: $black;
  padding-top: rem(15);
  padding-bottom: rem(15);
  padding-left: rem(20);
  width: 50%;
}
