@use "global" as *;

.staff-slide__image {
  aspect-ratio: 200 / 150;
  margin: 0 calc(50% - 50vw);
  width: 100vw;
  @include mq("md") {
    aspect-ratio: 306 / 229;
  }
}

.staff-slide__image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: rem(20);
}
